<div id="editNews" class="hide"> 
    <div id="newsTemplate" class="hide">
        <div class="news">
            <h1 class="title">Lorem ipsum dolor sit.</h1>
            <p class="newsContent">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatum explicabo minus earum maxime! Enim, corporis sapiente. Error, aperiam fugiat debitis ipsum ratione doloremque commodi.</p>
            <img class="newsImg" src="https://ik.imagekit.io/vicyber/my_file_name_fgGonhCbX.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1663019207732" alt="nothing">
        </div> 
    </div>           
</div>